<div id="myModal" class="modal fade mt-5" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <div class="container col-12 text-center">
                    <div class="photo mb-2">
                        <img id="photo" class="avatar" width="230px" height="150px">
                    </div>
                    <h5 id="position" class="card-subtitle"></h5>
                    <h6 id="info" class="mb-2 text-muted"></h6>
                    <div id="courses"></div>
                </div>
            </div>
        </div>
    </div>
</div>