<footer class="page-footer font-small cyan darken-3">
    <div class="container">
        <div class="row">
            <div class="col-md-12 pt-3 text-center">
                <div class="mb-3 flex-center">
                    <a class="li-ic" href="https://www.linkedin.com/in/polina-metla">
                        <i class="fab fa-linkedin-in fa-lg white-text mr-md-5 mr-3 fa-2x"></i>
                    </a>
                    <a class="ins-ic" href="https://www.instagram.com/polinaaa._.m/">
                        <i class="fab fa-instagram fa-lg white-text mr-md-5 mr-3 fa-2x"></i>
                    </a>
                    <a class="vk-ic" href="https://vk.com/polina_met">
                        <i class="fab fa-vk fa-lg white-text mr-md-5 mr-3 fa-2x"></i>
                    </a>
                    <a class="tg-ic" href="https://t.me/polina_metla">
                        <i class="fab fa-telegram fa-lg white-text fa-2x"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-copyright text-center py-2">© 2020 Copyright:
        <a href="https://it.belstu.by/"> FIT BSTU</a>
    </div>
</footer>