<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3">
        <div class="container">
            <a href="/" class="navbar-brand">CMSys</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a href="/courses" class="nav-link text-light">Courses</a>
                    </li>
                    <li class="nav-item">
                        <a href="/trainers" class="nav-link text-light">Trainers</a>
                    </li>
                </ul>
            </div>
            <div class="text-white">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-light">Admin: </a>
                    </li>
                    <li class="nav-item">
                        <a href="/trainers/admin" class="nav-link text-light">Trainers</a>
                    </li>
                    <li class="nav-item">
                        <a href="/courses/admin" class="nav-link text-light">Courses</a>
                    </li>
                    <li class="nav-item">
                        <a href="/courseGroups" class="nav-link text-light">Course Groups</a>
                    </li>
                    <li class="nav-item">
                        <a href="/users" class="nav-link text-light">Users</a>
                    </li>
                    <li class="nav-item">
                        <a href="/logout" class="nav-link text-light ml-3">Log In/Log Out</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>