<h1>Users</h1>
<table class="table table-bordered">
    <thead class="table-dark">
        <tr>
            <th>Photo</th>
            <th>Name</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody id="tbody">
    </tbody>
</table>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="/js/api/apiUsers.js"></script>