<div class="mx-4">
    <h2 class="display-4">Trainers</h2>
</div>
<div class="content ml-5">
</div>

<%- include('../partials/modals/infoTrainerModal.ejs') %>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/js/api/apiTrainers.js"></script>