<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/main.css" rel="stylesheet">
    <link href="/css/login.css" rel="stylesheet">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/courseCard.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/013266e4a8.js" crossorigin="anonymous"></script>
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link href="https://unpkg.com/filepond/dist/filepond.css" rel="stylesheet">
    <link href="https://unpkg.com/filepond/dist/filepond.css" rel="stylesheet">
    <link href="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.css" rel="stylesheet">
    <script defer src="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.js"></script>
    <script defer src="https://unpkg.com/filepond-plugin-file-encode/dist/filepond-plugin-file-encode.js"></script>
    <script defer src="https://unpkg.com/filepond-plugin-image-resize/dist/filepond-plugin-image-resize.js"></script>
    <script defer src="https://unpkg.com/filepond/dist/filepond.js"></script>
    <script defer src="https://localhost:4000/socket.io/socket.io.js"></script>
    <script defer src="/js/jquery.min.js"></script>
    <script defer src="/js/popper.min.js"></script>
    <script defer src="/js/bootstrap.min.js"></script>
    <script defer src="/js/courseCard.js"></script>
    <script defer src="/js/fileUpload.js"></script>
    <script defer src="/js/socket.js"></script>
    <title>CMSys</title>
</head>

<body>
    <%- include('../partials/header.ejs') %>
        <div class="container">
            <main role="main" class="pb-3">
                <%- body %>
            </main>
        </div>
        <%- include('../partials/footer.ejs') %>
</body>

</html>